/* header_banner */
.header_banner{
	width: 7.5rem;
	height: 4.4rem;
	font-size: 0.42rem;
	color: #FFFFFF;
	padding-top: 0.98rem;
	line-height: 0.42rem;
}
.header_banner_inner{
	height: 4.4rem;
	background: url(../img/header_bg.jpg) no-repeat;
	background-size: 100%;
	text-align: center;
}
.header_banner_h{
	padding-top: 1.08rem;
}
.header_banner_b2{
	margin-top: 0.28rem;
	margin-bottom: 0.62rem;
	font-size: 0.28rem;
	line-height: 0.28rem;
}
.header_banner_b3{
	width: 3.82rem;
	height: 0.66rem;
	margin: 0 auto;
	
}
.header_banner_b3 a{
	width: 1.78rem;
	height: 0.66rem;
	font-size: 0.24rem;
	line-height: 0.66rem;
	background: #33c8c9;
	color: #FFFFFF;
}
.menu_list a:nth-child(1) li{
	background: url(../img/menu-bg1b.png) no-repeat 0.45rem center;
	background-size: 0.32rem 0.32rem;
}
/* main */
.main{
	width: 7.5rem;
}

.main_inner1 {
    height: 11.25rem;
}
.main_inner1>h3 {
    text-align: center;
    color: #333333;
    padding-top: 0.9rem;
    margin-bottom: 0.2rem;
	font-size: 0.36rem;
	line-height: 0.36rem;
}
.main_inner1>h4 {
    text-align: center;
    color: #888888;
    margin-bottom: 0.78rem;
	font-size: 0.28rem;
	line-height: 0.28rem;
}
.main_inner1_bottom {
    overflow: hidden;
	width: 6.39rem;
	height: 7.89rem;
	margin: 0 auto;
}

.main_inner1_bottom>div {
    width: 3.1rem;
    height: 3.8rem;	
    box-sizing: border-box;
    background: #FFFFFF;
    color: #888888;
	border: 0.04rem solid #33cccc;
	font-size: 0.36rem;
	text-align: center;
	line-height: 0.36rem;
	margin-bottom: 0.29rem;
}
.main_inner1_bottom>div:nth-child(2n+1){
	margin-right: 0.19rem;
}
.main_inner1_bottom>div>div{
	padding-top: 0.53rem;
	box-sizing: border-box;	
	width: 2.68rem;
	height: 3.32rem;
	margin: 0.21rem auto;
	box-shadow: 0  0 0.21rem #eaf9f8;	 
}
.main_inner1_bottom>div>div>div {
	width: 0.78rem;
    height: 0.78rem;
    margin: 0 auto 0.56rem;
}
.main_inner1_bottom>div>div>div>img {
    width: 100%;
}
.main_inner1_bottom>div>div>h3 {  
    color: #333333;  
}
.main_inner1_bottom>div>div>p {
   font-size: 0.28rem;
   line-height: 0.28rem;
   margin-top: 0.22rem;
}
.main_inner2 {
	width: 7.5rem;
    height: 12.1rem;
	background: url(../img/i-main2-bg.jpg) no-repeat;
	background-size: 100%;
}
.main_inner2>h3 {
    text-align: center;
    color: #333333;
    padding-top: 1.08rem;
    margin-bottom: 0.2rem;
	font-size: 0.36rem;
	line-height: 0.36rem;
}
.main_inner2>h4 {
    text-align: center;
    color: #888888;
    margin-bottom: 0.98rem;
	font-size: 0.28rem;
	line-height: 0.28rem;
}
.main_inner2_bottom {
    overflow: hidden;
	width: 6.9rem;
	height: 7.48rem;
	margin: 0 auto;
}

.main_inner2_bottom>.left {
    width: 3.35rem;
    height: 3.5rem;	
    box-sizing: border-box;
    background: #FFFFFF;
    color: #888888;
	font-size: 0.36rem;
	text-align: center;
	line-height: 0.36rem;
	margin-bottom: 0.45rem;
	border: 0.05rem solid #f6f6f6;
}
.main_inner2_bottom>.left:nth-child(2n+1){
	margin-right: 0.17rem;
}
.left_t{
	border: 0.05rem solid #f6f6f6;
	border-bottom: none;
	height: 1.88rem;
	box-sizing: border-box;
	border-radius: 0.1rem;
}
.left_t>div{
	height: 0.97rem;
	box-sizing: border-box;	
	position: relative;
}

.left_t>div>img {
	position: absolute;
	bottom: 0;
	left: 50%;
    width: 0.54rem;
	margin-left: -0.27rem;
}
.left_t>h3 {  
     color: #333333; 
	 margin-top: 0.29rem;
	 margin-bottom: 0.26rem;
	 font-size: 0.28rem;
	 line-height: 0.28rem;
}
.duangang{
	margin-bottom: 0.12rem;
}
.left_b {
   font-size: 0.22rem;
   line-height: 0.36rem;
   /* padding: 0.13rem 0.42rem; */
   padding-top: 0.13rem;
   box-sizing: border-box;
   border: 0.05rem solid #33CCCC;
   border-top: none;
   height: 1.57rem;
   border-radius: 0 0 0.1rem 0.1rem;
}
.main_inner3 {
	width: 7.5rem;
    height: 14.48rem;
}
.main_inner3>h3 {
    text-align: center;
    color: #333333;
    padding-top: 1.22rem;
    margin-bottom: 0.2rem;
	font-size: 0.36rem;
	line-height: 0.36rem;
}
.main_inner3>h4 {
    text-align: center;
    color: #888888;
    margin-bottom: 0.88rem;
	font-size: 0.28rem;
	line-height: 0.28rem;
}
.main_inner3_bottom {
    overflow: hidden;
	width: 6.9rem;
	height: 10.46rem;
	margin: 0 auto;
}

.main_inner3_bottom>div {
    width: 3.38rem;
    height: 5.06rem;	
    box-sizing: border-box;
    color: #888888;
	font-size: 0.36rem;
	text-align: center;
	line-height: 0.36rem;
	margin-bottom: 0.34rem;
	border: 0.02rem solid #f1f1f1;
	border-bottom: 0.05rem solid #33CCCC;
	border-radius: 0.1rem;
}
.main_inner3_bottom>div:nth-child(2n+1){
	margin-right: 0.14rem;
}

.main_inner3_bottom>div>div{
	height: 1.83rem;
	position: relative;
}

.main_inner3_bottom>div>div>img {
	position: absolute;
	bottom: 0;
	left: 50%;
    width: 1.28rem;
	margin-left: -0.64rem;
}
.main_inner3_bottom>div>h3 {  
	font-size: 0.3rem;
	line-height: 0.3rem;
     color: #33CCCC; 
	 margin-top: 0.39rem;
	 margin-bottom: 0.38rem;
}
.duangang{
	margin-bottom: 0.26rem;
}
.main_inner3_bottom>div>p {
   font-size: 0.24rem;
   line-height: 0.4rem;
  text-align: center;
}
.main_inner4{
	height: 12.72rem;
	width: 7.5rem;
	background: url(../img/i-main4-bg.jpg) no-repeat;
	background-size: 100%;
}
.main_inner4>h3{
	font-size: 0.36rem;
	line-height: 0.36rem;
	color: #FFFFFF;
	padding-top: 1.2rem;
	text-align: center;
}
.main_inner4>h4{
	font-size: 0.24rem;
	line-height: 0.24rem;
	margin-top: 0.22rem;
	margin-bottom: 0.9rem;
	color: #FFFFFF;
	text-align: center;
}
.main_inner4 ul{
	width: 6.9rem;
	height: 8.7rem;
	margin: 0 auto;
}
.main_inner4 li{
	display: block;
	width: 6.9rem;
	height: 2.08rem;
	background: #FFFFFF;
	margin-bottom: 0.12rem;
	border-radius: 0.1rem;
	box-sizing: border-box;
	padding: 0.31rem 0.73rem 0 0.27rem;
}
.main_inner4 li img{
	width: 1.39rem;
	height: 1.39rem;
	margin-right: 0.27rem;
}
.main_inner4 li>div{
	width: 4.24rem;
}
.main_inner4 li h3{
	font-size: 0.28rem;
	color: #33CCCC;
	line-height: 0.58rem;
	padding-left: 0.2rem;
	background: url(../img/i-main4-small.png) no-repeat left center;
	background-size: 0.08rem 0.08rem;
}
.main_inner4 li p{
	font-size: 0.22rem;
	color: #666666;
	line-height: 0.3rem;
}
.main_inner5{
	width: 7.5rem;
	height: 9.34rem;
}
.main_inner5>h3{
	font-size: 0.36rem;
	color: #33CCCC;
	line-height: 1.78rem;
	text-align: center;
	padding-top: 0.54rem;
}
.main_inner5_bottom{
	width: 6.28rem;
	height: 7rem;
	margin: 0 auto;
	overflow: hidden;
	box-sizing: border-box;
	box-shadow:0 0 0.2rem 0.01rem #33c8c9;
	font-size: 0.24rem;
	text-align: center;
	line-height: 0.36rem;
	color: #666666;		
}
.swiper-container1{
	width: 6.28rem;
	height: 7rem;	
}

.swiper-container1 .swiper-slide div{
	width: 6.28rem;
}
.swiper-container1 .swiper-slide div img{
	margin: 1rem auto 0.74rem;
	width: 2.38rem;
	height: 1.18rem;
}

.swiper-container1 .swiper-slide p{
	display: block;
	width: 6.28rem;	
	box-sizing: border-box;
	padding: 0 1.37rem 0 1.37rem;
}
.swiper-container1 .swiper-slide h3{
	width: 6.28rem;
	font-size: 0.24rem;
	margin-top: 0.8rem;
}
.swiper-button-prev1,.swiper-button-next1{
	width: 0.5rem;
	height: 0.5rem;
}
.swiper-button-prev::after,
.swiper-button-next::after {
	display: none !important;
}
.swiper-button-prev1{
	background: url(../img/prev1.png) no-repeat;
	background-size: 100%;
	left: 0.43rem;
}
.swiper-button-next1{
	background: url(../img/next1.png) no-repeat;
	background-size: 100%;
	right: 0.43rem;
}
.main_inner6{
	width: 7.5rem;
	height: 8.64rem;
	text-align: center;
}
.main_inner6>h3{
	font-size: 0.36rem;
	line-height: 0.36rem;
	padding-top: 1.22rem;
	color: #33CCCC;
}
.main_inner6>h4{
	font-size: 0.24rem;
	line-height: 0.24rem;
	color: #888888;
	margin-top: 0.22rem;
	margin-bottom: 0.75rem;
}
.main_inner6_bottom{
	width: 5.68rem;
	height: 5.88rem;
	margin: 0 auto;
	overflow: hidden;
	box-sizing: border-box;
}
.swiper-container2{
	position: relative;
}

.swiper-container2{
	width: 5.68rem;
	height: 5.88rem;	
}
.swiper-container2 .swiper-wrapper{
	height: 4.46rem;
}
.swiper-container2 .swiper-slide ul,.swiper-container2 .swiper-slide{
	width: 5.68rem;
	height: 4.46rem;
}
.swiper-container2 .swiper-slide ul li{
	float: left;
	width: 1.8rem;
	height: 0.98rem;
	margin-right: 0.14rem;
	margin-bottom: 0.18rem;
}
.swiper-container2 .swiper-slide ul li:nth-child(3n){
	margin-right: 0;
}
.swiper-container2 .swiper-slide ul li img{
	width: 1.8rem;
}



.swiper-pagination2 {
    width: 5.68rem;
    position: absolute;
    height: 0.82rem;
	bottom: 0.6rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* justify-content: space-around; */
}