.header_banner{
	width: 7.5rem;
	height: 4.4rem;
	padding-top: 0.98rem;
}
.header_banner_T{
	height: 4.4rem;
	background: url(../img/header_bg5.jpg) no-repeat;
	background-size: 100%;
}
.menu_list a:nth-child(4) li{
	background: url(../img/menu-bg4b.png) no-repeat 0.45rem center;
	background-size: 0.32rem 0.34rem;
}
.main{
	min-height: 54.77rem;
	max-height: 100rem;
}
.main_inner1{
	text-align: center;
	height: 7.54rem;
	border-bottom: 0.16rem solid #f6f6f6;
}
.main_inner>h3{
	font-size:0.36rem;
	line-height: 0.36rem;
	color: #333333;
}
.main_inner>h4{
	font-size:0.24rem;
	line-height: 0.24rem;
	color: #666666;
}
.main_inner1>h3{
	padding-top: 0.54rem;
}
.main_inner1>h4{
	margin-top: 0.16rem;
	padding-bottom: 0.42rem;
	border-bottom: 0.01rem solid #ebebeb;
}
.main_inner1_bottom{
	width: 6.9rem;
	height: 3.0rem;
	margin: 0.7rem auto 0.64rem;
	overflow: hidden;
	font-size: 0.2rem;
	line-height: 0.2rem;
	color: #FFFFFF;
}
.main_inner1_ke{
	width: 2.26rem;
	height: 3.0rem;
	margin-right: 0.06rem;
}
.main_inner1_ke:nth-child(1){
	background: url(../img/service_main1_1.jpg) no-repeat;
	background-size: 100%;
}
.main_inner1_ke:nth-child(2){
	background: url(../img/service_main1_2.jpg) no-repeat;
	background-size: 100%;
}
.main_inner1_ke:nth-child(3){
	background: url(../img/service_main1_3.jpg) no-repeat;
	background-size: 100%;
	margin-right: 0;
}
.main_inner1_sm{
	width: 2.26rem;
	height: 0.95rem;
}
.main_inner1_ke:nth-child(1) .main_inner1_sm{
	background: url(../img/service_main1_1.png) no-repeat center bottom;
	background-size: 0.48rem 0.6rem;
}
.main_inner1_ke:nth-child(2) .main_inner1_sm{
	background: url(../img/service_main1_2.png) no-repeat center bottom;
	background-size: 0.62rem 0.46rem;
}
.main_inner1_ke:nth-child(3) .main_inner1_sm{
	background: url(../img/service_main1_3.png) no-repeat center bottom;
	background-size: 0.58rem 0.58rem;
}
.main_inner1_ke>h4{
	font-size: 0.26rem;
	line-height: 0.26rem;
	margin-top: 0.35rem;
	margin-bottom: 0.19rem;
}
.duang{
	width: 0.36rem;
	height: 0.02rem;
	margin: 0 auto;
	background: #FFFFFF;
	margin-bottom: 0.23rem;
}
.main_inner1_ke>p{
	margin-bottom: 0.17rem;
}
.main_inner2{
	text-align: center;
	padding-bottom: 0.68rem;
	border-bottom: 0.16rem solid #f6f6f6;
	color: #666666;
}
.main_inner2>h3{
	padding-top: 0.7rem;
}
.main_inner2>h4{
	margin-top: 0.17rem;
	margin-bottom: 0.78rem;
}
.main_inner2>img{
	width: 6.9rem;
	height: 2.74rem;
	margin: 0 auto;
}
.main_inner2>p{
	font-size: 0.24rem;
	line-height: 0.48rem;
	text-align: left;
	padding:0.28rem 0.46rem 0.55rem;
}
.main_inner3{
	text-align: center;
	height: 9.78rem;
	border-bottom: 0.16rem solid #f6f6f6;
	color: #333333;
}
.main_inner3>h3{
	padding-top: 0.85rem;
}
.main_inner3>h4{
	margin-top: 0.17rem;
	margin-bottom: 0.7rem;
}
.main_inner3_bottom{
	height: 5.2rem;
	width: 6.9rem;
	margin: 0 auto 0.8rem;
	overflow: hidden;
	font-size: 0.24rem;
	line-height: 0.24rem;
}
.main_inner3_fu{
	width: 3.4rem;
	height: 2.34rem;
	margin-right: 0.1rem;
	margin-bottom: 0.45rem;
	text-align: left;
}
.main_inner3_fu:nth-child(2n){
	margin-right: 0;
}
.main_inner3_fu img{
	width: 3.4rem;
	height: 1.76rem;
	margin-bottom: 0.37rem;
}
.main_inner3_fu p{
	padding-left: 0.24rem;
	background: url(../img/service_main3_5.jpg) no-repeat left center;
	background-size: 0.06rem 0.24rem;
}
.main_inner4{
	text-align: left;
	height: 9.61rem;
	border-bottom: 0.16rem solid #f6f6f6;
	color: #333333;
}
.main_inner4>h3{
	padding-top: 0.78rem;
	text-align: center;
	color: #333333;
}
.main_inner4>img{
	width: 6.9rem;
	height: 3.0rem;
	margin: 0.6rem auto 0.64rem;
}
.main_inner4>h4{
	padding-left: 0.57rem;
	background: url(../img/service_main3_5.jpg) no-repeat 0.31rem center;
	background-size: 0.06rem 0.24rem;
	margin-bottom: 0.38rem;
	color: #333333;
}
.main_inner4>p{
	padding-left: 0.6rem;
	background: url(../img/i-main4-small.png) no-repeat 0.31rem center;
	background-size: 0.06rem 0.06rem;
	margin-bottom: 0.2rem;
	font-size: 0.22rem;
	line-height: 0.22rem;
}
.main_inner4 p:nth-child(7){
	margin-bottom: 0.6rem;
}
.trial{
	text-align: center;
}
.main_inner5{
	height: 6.6rem;
	border-bottom: 0.16rem solid #f6f6f6;
	color: #333333;
	text-align: center;
}
.main_inner5>h3{
	padding-top: 0.88rem;
	margin-bottom:0.8rem ;
}
/* 轮播图 */
.swiper-container {
	width: 6.9rem;
	height: 3.6rem;
	margin: 0 auto;
}

.swiper-slide {
	width: 2.26rem;
	height: 3.6rem;
	text-align: center;
	font-size: 0.24rem;
	color: #FFFFFF;
	background: #eeeeee;
	box-sizing: border-box;
	margin-right: 0.06rem;
}

.swiper-slide>img {
	width: 2.26rem;
	height: 2.92rem;
}

.swiper-slide p {
	line-height: 0.68rem;
	background: #33cccc;
	color: #FFFFFF;
	cursor: pointer;
}
.main_inner6{
	height: 11.0rem;
}
.main_inner6>h3{
	text-align: center;
	font-size: 0.36rem;
	line-height: 0.36rem;
	padding-top: 0.78rem;
	padding-bottom: 0.43rem;
	border-bottom: 0.01rem solid #ebebeb;
}
.main_inner6_bottom{
	height: 7.86rem;
	width: 6.9rem;
	margin: 0.5rem auto 0;
}
.main_inner6_bottom>input{
	display: block;
	width: 6.9rem;
	height: 0.97rem;
	box-sizing: border-box;
	border: 0.01rem solid #d3d3d3;
	border-radius: 0.1rem;
	margin-bottom: 0.19rem;
	padding-left: 0.46rem;
	font-size: 0.26rem;
	color: #888888;
	line-height: 0.97rem;
}
.main_inner6_bottom>input:nth-child(1),
.main_inner6_bottom>input:nth-child(2){
	background: url(../img/small-xx.png) no-repeat 0.22rem center;
	background-size: 0.13rem 0.12rem;
}
#count {
	width: 6.9rem;
	height: 1.7rem;
	font-size: 0.26rem;
	color: #888888;
	line-height: 0.85rem;
	padding-left: 0.46rem;
	border: 0.01rem solid #d3d3d3;
	border-radius: 0.1rem;
	box-sizing: border-box;
	overflow: hidden;
	resize: none;
	margin-bottom: 0.54rem;
	background: url(../img/small-xx.png) no-repeat 0.22rem 0.36rem;
	background-size: 0.13rem 0.12rem;
}
.main_inner6_bottom button{
	display: block;
	width: 6.9rem;
	height: 0.97rem;
	background: #33CCCC;
	margin: 0 auto;
	border: none;
	box-sizing: border-box;
	border-radius: 0.1rem;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 0.26rem;
	line-height: 0.97rem;
}




