.header_banner{
	width: 7.5rem;
	height: 4.4rem;
	padding-top: 0.98rem;
}
.header_banner_T{
	height: 4.4rem;
	background: url(../img/header_bg2.jpg) no-repeat;
	background-size: 100%;
}
.menu_list a:nth-child(3) li{
	background: url(../img/menu-bg3b.png) no-repeat 0.45rem center;
	background-size: 0.32rem 0.34rem;
}
.main{
	padding-top: 0.69rem;
	padding-bottom: 1.42rem;
}
.main img{
	width: 6.2rem;
	height: 2rem;
	margin: 0 auto;
	margin-bottom: 0.3rem;
}
.clientList{
	width: 6.2rem;
	font-size: 0.24rem;
	line-height: 0.7rem;
	color: #888888;
	margin: 0 auto;
	background: #f6f6f6;
	padding-top: 0.25rem;
	padding-bottom: 0.34rem;
	margin-bottom: 0.63rem;
	display: none;
}
.clientList-active{
	display: block;
}
.clientList p{
	width: 5.2rem;
	height: 0.7rem;
	border-bottom: 0.01rem solid #dcdcdc;
	box-sizing: border-box;
	margin: 0 auto;
	padding-left: 0.07rem;
}
.clientList p:last-child{
	border-bottom: 0;
}
.main .client-active{
	margin-bottom: 0;
}