.header_banner {
	width: 7.5rem;
	height: 4.4rem;
	padding-top: 0.98rem;
}

.header_banner_T {
	height: 4.4rem;
	background: url(../img/header_bg3.jpg) no-repeat;
	background-size: 100%;
}

.menu_list a:nth-child(5) li {
	background: url(../img/menu-bg5b.png) no-repeat 0.45rem center;
	background-size: 0.32rem 0.32rem;
}

.main {
	width: 7.5rem;
	min-height: 39.64rem;
	max-height: 100000rem;
}

.main_inner1 {
	min-height: 6.94rem;
	/* width: 7.5rem; */
	border-bottom: 0.16rem solid #f6f6f6;
	padding-bottom: 0.94rem;
}

.main_inner>h3 {
	 text-size-adjust: none;
	font-size: 0.36rem;
	line-height: 0.36rem;
	color: #333333;
	text-align: center;
}

.main_inner>h4 {
	 text-size-adjust: none;
	font-size: 0.22rem;
	line-height: 0.22rem;
	color: #666666;
	text-align: center;
}

.main_inner1>h3 {
	padding-top: 0.6rem;
}

.main_inner1>h4 {
	margin-top: 0.18rem;
	margin-bottom: 1.0rem;
}

.main_inner1>p {
	font-size: 0.24rem;
	 text-size-adjust: none;
	line-height: 0.44rem;
	color: #666666;
	border-top: 0.01rem solid #ebebeb;
	padding: 0.54rem 0.47rem 0.5rem 0.45rem;
	/* width: 7.5rem; */
	/* box-sizing: border-box; */
}

.main_inner1>img {
	width: 6.9rem;
	height: 2.9rem;
	margin: 0 auto;
}

.main_inner2 {
	/* width: 7.5rem; */
	min-height: 8.22rem;
	border-bottom: 0.16rem solid #f6f6f6;
	padding-bottom: 1.0rem;
}

.main_inner2>h3 {
	padding-top: 0.8rem;
}

.main_inner2>h4 {
	margin-top: 0.32rem;
	margin-bottom: 0.49rem;
}

.main_inner2>p {
	font-size: 0.24rem;
	 text-size-adjust: none;
	line-height: 0.44rem;
	color: #666666;
	border-top: 0.01rem solid #ebebeb;
	padding: 0.5rem 0.47rem 0.5rem 0.74rem;
	/* width: 7.5rem;
	box-sizing: border-box; */
}

.main_inner2>ul {
	width: 7.5rem;
	height: 1.0rem;
	font-size: 0.2rem;
	color: #666666;
	margin-bottom: 0.76rem;
}

.main_inner2>ul li {
	float: left;
	width: 2.49rem;
	text-align: center;
	border-right: 0.01rem solid #bfbfbf;
}

.main_inner2>ul li:last-child {
	border-right: 0;
}

.main_inner2>ul li p:first-child {
	font-size: 0.34rem;
	color: #333333;
}

.main_inner2>div {
	width: 6.8rem;
	height: 2.2rem;
	margin: 0 auto;
}

.main_inner2>div img {
	width: 3.4rem;
	height: 2.2rem;
}

.main_inner3 {
	width: 7.5rem;
	border-bottom: 0.16rem solid #f6f6f6;
	padding-bottom: 0.95rem;
}

.main_inner3>h3 {
	padding-top: 1.0rem;
}

.main_inner3>h4 {
	margin-top: 0.32rem;
	margin-bottom: 0.74rem;
}

.main_inner3>img {
	width: 7.3rem;
	height: 8.22rem;
	margin: 0 auto;
}

.main_inner4 {
	width: 7.5rem;
	padding-bottom: 1.44rem;
}

.main_inner4>h3 {
	padding-top: 1.12rem;
}

.main_inner4>h4 {
	margin-top: 0.32rem;
	margin-bottom: 1.26rem;
}

.main_inner4>img {
	width: 6.45rem;
	height: 5.6rem;
	margin-left: 0.34rem;
}
