.header_banner{
	width: 7.5rem;
	height: 4.4rem;
	padding-top: 0.98rem;
}
.header_banner_T{
	height: 4.4rem;
	background: url(../img/header_bg5.jpg) no-repeat;
	background-size: 100%;
}
.menu_list a:nth-child(4) li{
	background: url(../img/menu-bg4b.png) no-repeat 0.45rem center;
	background-size: 0.32rem 0.34rem;
}

.main_header{
	width: 7.5rem;
	height: 1.04rem;
	line-height: 0.98rem;
	font-size: 0.26rem;
	color: #333333;
	background: #f6f6f6;
}
.main_header>li{
	float: left;
	margin-right: 0.85rem;
}
.main_header>li:first-child{
	margin-left: 0.63rem;
}
.header_active{
	color: #33CCCC;
	border-bottom: 0.06rem solid #33CCCC;
}
.main_bottom{
	height: 9.07rem;
	min-width: 7.5rem;
	max-height: 100rem;
	box-sizing: border-box;
	font-size: 0.22rem;
	line-height: 0.4rem;
	color: #888888;
	padding: 0.76rem 0.63rem 1.37rem;
	position: relative;
}
.main_bottom>li{
	position: absolute;
	z-index: 20;
	background: #FFFFFF;
}
.main_bottom>li>img{
	width: 6.24rem;
	height: 3.2rem;
	background: #f6f6f6;
}

.main_right_listR>h4{
	width: 5.1rem;
	height: 0.98rem;
	font-size: 0.26rem;
	line-height: 0.98rem;
	color: #333333;
	box-sizing: border-box;
	padding-left: 0.22rem;
	border-bottom: 0.01rem dashed #7d7d7d;
	background: url(../img/service_main3_5.jpg) no-repeat left center;
	background-size: 0.04rem 0.3rem;
	margin-bottom: 0.22rem;
}
.main_right_listR>p{
	width: 6.05rem;
}
.main_bottom .bottom_active{
	z-index: 25;
}