.header {
	background: url(../img/index_header_bg.jpg) no-repeat center center;
	background-size: cover;
}

.header_banner {
	color: #FFFFFF;
	height: 427px;
	padding-top: 263px;
}

.header_banner_h {
	text-align: center;
	font-size: 38px;
	line-height: 38px;
	margin-bottom: 24px;
}

.header_banner_b2 {
	font-size: 22px;
	line-height: 22px;
	text-align: center;
	margin-bottom: 64px;
}

.header_banner_b3 {
	width: 700px;
	height: 58px;
	background: #FFFFFF;
	border-radius: 29px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

.header_banner_b3>input {
	width: 400px;
	height: 58px;
	border: none;
	outline: none;
	font-size: 16px;
	line-height: 58px;
	box-sizing: border-box;
	padding-left: 30px;
}

.header_banner_b3>a {
	width: 212px;
	height: 58px;
	line-height: 58px;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	display: inline-block;
	background: #33CCCC;
	border-radius: 29px;
	position: absolute;
	right: 0;
}

.main{
	overflow: visible;
}
.main_inner2_bottom,
.main_inner1_bottom{
	width: 1200px;
	margin: 0 auto;
}
h3{
	font-size: 26px;
	color: #33CCCC;
	line-height: 26px;
}
h4{
	font-size: 16px;
	color: #888888;
	line-height: 16px;
}
.main_inner1{
	height: 1303px;
	text-align: center;
}
.main_inner1 h3{
	padding-top: 94px;
	text-align: center;
}
.main_inner1>h4{
	margin-top:22px ;
	margin-bottom: 67px;
	text-align: center;
}
.main_inner1s{
	width: 380px;
	height: 460px;
	/* border: 1px solid red; */
	box-sizing: border-box;
	text-align: left;
	margin-right: 10px;
	margin-bottom: 50px;
}
.main_inner1s:nth-child(3n+1){
	margin-left: 20px;
}

.main_inner1s_c{
	height: 172px;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	box-sizing: border-box;
}
.main_inner1s_c h4{
	padding-top: 31px;
	padding-left: 28px;
	padding-bottom: 16px;
	line-height: 16px;
}	
.main_inner1s_c p{
	padding-left: 28px;
	padding-right: 28px;
	margin-bottom: 14px;
	line-height: 28px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;	
	position: relative; 	
}

.main_inner1s_b{
	text-align: center;
	width: 380px;
	height: 48px;
	font-size: 16px;
	line-height: 48px;
	border: 1px solid #CCCCCC;
	box-sizing: border-box;
	color: #333333;
}
.main_inner1s_b div{
	cursor: pointer;
}
.main_inner1s_b div a{
	color: #FFFFFF;
}
.main_inner1s_b div:last-child{
	display: none;
	background: #33CCCC;
	color: #FFFFFF;
}
.main_inner1s_b:hover div:first-child{
	display: none;
}
.main_inner1s_b:hover div:last-child{
	display: block;
}
.main_inner2{
	/* min-height: 1764px; */
	padding-bottom: 104px;
	background: #F6F6F6;
	text-align: center;
}
.main_inner2 h3{
	padding-top: 93px;
	color: #333333;
}
.main_inner2_bottom{
	height: 1278px;
	overflow: hidden;
}
.mian_inner2_btn{	
	width: 210px;
	height: 68px;
	border: none;
	margin: 64px auto 0;
	cursor: pointer;
}
.mian_inner2_btn1{
	background: url(../img/logo_gd.jpg) no-repeat;
	background-size: 100%;
	display: block;
}
.mian_inner2_btn2{
	background: url(../img/logo_gd2.jpg) no-repeat;
	background-size: 100%;
	display: none;
}
.main_inner2s{
	width: 380px;
	height: 380px;
	margin-bottom: 46px;
	/* border: 1px solid red; */
	box-sizing: border-box;
	text-align: left;
	margin-right: 10px;
	background: #FFFFFF;
	cursor: pointer;
}
.main_inner2s:hover{
	border-bottom: 4px solid #33CCCC;
}
/* .main_inner2s:nth-child(3n){
	margin-right: 20px;
} */
.main_inner2s:nth-child(3n+1){
	margin-left: 20px;
}
.main_inner2s img{
	margin-bottom: 42px;
}
.main_inner2s p{
	margin-bottom: 30px;
	padding-left: 26px;
	line-height: 14px;
}
.main_inner2 h4{
	margin-top:23px;
	margin-bottom: 88px;
}

.main_inner3{
	/* min-height: 1087px; */
	height: 833px;
	text-align: center;
}
.mian_inner3_b{
	width: 1200px;
	margin: 0 auto;
/* 	height: 630px;
 */	/* overflow: hidden; */
	height: 464px;
}
.mian_inner3_b>img{
	float: left;
	margin-left: 14px;
	margin-bottom: 18px;
	width: 180px;
	height: 98px;
}
.mian_inner3_b>img:nth-child(6n+1){
	margin-left: 25px;
}
.main_inner3 h3{
	padding-top: 115px;
}
.main_inner3 h4{
	margin-top: 22px;
	margin-bottom: 72px;
}
.mian_inner3_btn{	
	width: 210px;
	height: 68px;
	border: none;
	margin: 64px auto 78px;
	cursor: pointer;
}
.mian_inner3_btn1{
	background: url(../img/logo_gd.jpg) no-repeat;
	background-size: 100%;
	display: block;
}
.mian_inner3_btn2{
	background: url(../img/logo_gd2.jpg) no-repeat;
	background-size: 100%;
	display: none;
}