@font-face {
	font-family: arial;
	src: url('Arial.ttf');
}
.arial{
	font-family:arial;
}
* {
	margin: 0;
	padding: 0;
}
img,a{
	border: 0;
}
img{
	display: block;
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}
body {
	font-size: 14px;
	line-height: 14px;
	font-family: "微软雅黑";
	color: #888888;
	background: #fff;
	position: relative;
}
ul,li{
	list-style: none;
}
.left{
	float: left;
}
.right{
	float: right;
}
a{
	text-decoration: none;
	display: block;
}
.header,.banner,.nav,.footer,.main{
	width: 100%;
	min-width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
.header{
	height: 690px;
	background: url(../img/product_header_bg.jpg) no-repeat center center;
	background-size: cover;
}
.header_banner{
	width: 1200px;
	margin: 0 auto;
}
.header_banner{
	color: #FFFFFF;
	height: 620px;
}
.header_banner_h{
	text-align: center;
	font-size: 38px;
	margin-top: 215px;
	margin-bottom: 51px;
}
.header_banner_h span{
	color: #33CCCC;
}
.header_banner_b{	
	margin: 0 auto;
	width: 602px;
	height: 35px;
}
.header_banner_b li{
	float: left;
	height: 35px;
	line-height: 35px;
	font-size: 16px;
	padding: 0 15px;
	border: 1px dashed #fff;
	border-radius: 35px;
	margin-right: 18px;
}
.header_banner_b li:last-child{
	margin-right: 0px;
}

/* footer */
.footer_inner,
.footer_inner_bottom{
	width: 1200px;
	margin: 0 auto;
}
.footer{
	height: 514px;
	background: url(../img/product_footer_bg.jpg) no-repeat center center;
	background-size: cover;
}
.footer_inner{
	padding-top: 133px;
	height: 280px;
	margin-bottom: 76px;
}
.footer_inner_bottom{
	text-align: center;
}
.footer_left h3{
	font-size: 38px;
	color: #FFFFFF;
	font-weight: normal;
}
.footer_left h4{
	font-weight: normal;
	font-size: 16px;
	margin-top: 25px;
	margin-bottom: 54px;
	color: #FFFFFF;
}
.footer_left p{
	margin-bottom: 24px;
}
.footer_right{
	width: 295px;
	height: 280px;
	/* margin-right: 50px; */
}
.footer_tel{
	font-size: 24px;
	color: #FFFFFF;
	line-height: 40px;
	padding-left: 75px;
	position: relative;	
	margin-bottom: 32px;
}
.footer_tel img{
	width: 44px;
	height: 49px;
	position: absolute;
	top: -20px;
	left: 0;
}
.footer_EWM div:nth-child(1){
	margin-right: 64px;
}
.footer_EWM div{
	width: 115px;
	text-align: center;
}
.footer_EWM p{
	color: #FFFFFF;
	margin-top: 18px;
}
/* 短横杠 */
.duang{
	width: 40px;
	height: 4px;
	background: #33CCCC;
	margin-bottom: 33px;
}

/* ie兼容多行内显示超出省略号
 line-height:28px
 */
.p_after::after{
    content: "..."; 
    position: absolute; 
    bottom: 0; 
    right: 28px; 
    padding-left: 14px;
    background: -webkit-linear-gradient(left, transparent, #fff 55%);
    background: -o-linear-gradient(right, transparent, #fff 55%);
    background: -moz-linear-gradient(right, transparent, #fff 55%);
    background: linear-gradient(to right, transparent, #fff 55%);
}

/* 顶部导航悬浮 */
.header_nav{
	width: 100%;
	min-width: 1200px;
	margin: 0 auto;
}
.header_nav{
	height: 60px;
	/* border-bottom: 1px solid #999999; */
	box-shadow: 0 0 5px #eee;
	box-sizing: border-box;
	/* color: #FFFFFF;	 */
	position: fixed;
	top: 0;
	/* background: rgba(255,255,255,:;.5);*/
	background: none;
	z-index: 100;
}

.header_nav_inner{
	line-height: 60px;
	height: 60px;
	width: 1200px;
	margin: 0 auto;
}
.logo{
	width: 112px;
	height: 42px;
	margin-top: 9px;
	margin-right: 12px;
}
.header_nav_list{
	margin-left: 76px;
	font-size: 14px;
	
}
.header_nav_list a{
	float: left;
	width: 116px;
	color: #FFFFFF;
	box-sizing: border-box;
}
.header_nav_list_down a{
	color: #000000;
}
.header_nav_list a:nth-child(4){
	width: 103px;
}
.header_nav_list span{
	display: inline-block;
	height: 60px;
	box-sizing: border-box;
	padding-left: 6px;
	
}
.header_nav_list>a:hover span{
	border-bottom: 2px solid #33cccc;
}
.header_nav_list2{
	height: 24px;
	margin-top: 18px;
	box-sizing: border-box;
	font-size: 12px;
}
.header_nav_list2 a{
	float: left;
	height: 22px;
	border: 1px solid #33CCCC;
	line-height: 22px;
	padding: 0 6px;
	color: #33CCCC;
	margin-left: 34px;		
}
.header_nav_list2 a:nth-child(1){
	margin-left: 0;
}
.header_nav_list2 a:hover{
	background: #33CCCC;
	color: #fff;
}

.header_nav_innerL{
	color: #FFFFFF;
}

/* 产品二级页面 */
.products1{
	position: relative;
	height: 60px;
	width: 116px;
	display: inline-block;
	float: left;
	cursor: pointer;
}
.actic{
	border-bottom: 2px solid #33cccc;
}
.products1:hover span{
	border-bottom: 2px solid #33cccc;
}
.product_1{
	position: absolute;
	width: 108px;
	height: 80px;
	left: 0;
	bottom:-79px;
	display: none;
	cursor: pointer;
	/* z-index: 101; */
}
.product_1 a{
	width: 108px;
	height: 40px;
	border-top: 1px solid #999999;
	background: rgba(0,0,0,0.4);
	box-sizing: border-box;
	line-height: 40px;
	padding-left: 10px;
	font-size: 12px;
}
.product_1 a{
	color: #ffffff;
}
.product_2 a{
	color: #000000;
}
.product_1 a:hover{
	color: #33CCCC;
}
.product_2 a:hover{
	color: #33CCCC;
}
.products1>span{
	color: #FFFFFF;
}
.products1_down>span{
	color: #000000;
}

.scrol_down_bg{
	background: rgba(255,255,255,1);
	box-shadow: 0px 0px 10px #eee;
	border-bottom: 0;
}
.scrol_down_cl{
	color:#000000;
}



