.header{
	background: url(../img/product_header_bg.jpg) no-repeat center center;
	background-size: cover;
}
.main_inner1_inner,
.main_inner2_top,
.main_inner2_bottom,
.main_inner3_inner,
.main_inner4_inner,
.main_inner8,
.main_inner5_center,
.main_inner7_bottom,
.main_inner6_top,
.main_inner6_bottom{
	width: 1200px;
	margin: 0 auto;
}
.main{
	padding-top: 120px;
}
.main_inner1{
	height: 436px;
}
.main_inner2{
	height: 710px;
	background: #f6f6f6;
}
.main_inner3{
	height: 628px;
}
.main_inner4{
	height: 520px;
	background: #f6f6f6;
}
.main_inner5{
	height: 1366px;
}
.main_inner6{
	height:708px;
}
.main_inner7{
	height: 848px;
}
.main_inner7>h3{
	font-size: 26px;
	line-height: 26px;
	padding-top: 100px;
	margin-bottom: 24px;	
	color: #333333;
	text-align: center;
}
.main_inner7>h4{
	font-size: 14px;
	line-height: 14px;
	margin-bottom: 88px;	
	color: #888888;
	text-align: center;
}
.main_inner7_bottom>div{
	width: 370px;
	height:474px;
	margin-right: 10px;
	box-sizing: border-box;
	box-shadow: 0 0 10px #CCCCCC;
	text-align: center;
	background: #fff;
}
.main_inner7_bottom div:last-child{
	margin-right: 34px;
}

.main_inner7_bottom>div>div{
	margin: 0 auto;
	height: 89px;
	margin-top: 67px;
}
.main_inner7_bottom h3{
	font-size: 22px;
	margin-top: 64px;
	margin-bottom: 36px;
	color: #333333;
	font-weight: normal;
}
.main_inner7_bottom p{
	display: block;
	width: 196px;
	line-height: 28px;
	margin: 0 auto;
}
.main_inner7_bottom img{
	margin: 0 auto;
}
.main_inner1_inner{
	height: 335px;
}
.main_inner1_innerL{
	margin-left: 76px;
	position: relative;
}
.main_inner1_innerL h3,
.main_inner3_innerL h3{
	font-size: 26px;
	line-height: 26px;
	margin-top: 74px;
	margin-bottom: 31px;	
	color: #333333;
}
.main_inner1_innerL div,
.main_inner3_innerL div,
.main_inner4_innerL div,
.main_inner8_innerL div{
	width: 40px;
	height: 4px;
	background: #33CCCC;
	margin-bottom: 33px;
}
.main_inner1_innerL p{
	margin-bottom: 20px;
	color: #888888;
}	
.main_inner1_innerL img{
	position: absolute;
	top: 61px;
	left: 264px;
}
.main_inner2_top{
	text-align: center;
	padding-top: 90px;
	margin-bottom: 94px;
}
.main_inner2_top h3{
	font-size: 26px;
	color: #333333;
	margin-bottom: 24px;
}
.main_inner2_top div{
	font-size: 14px;
	color: #888888;
}
.main_inner2_bottom{
	position: relative;
	height: 430px;
	font-size: 16px;
}
.main_inner2_bottom ul li{
	float: left;
	width: 72px;
	margin-right: 132px;
	text-align: center;
	color: #333333;
	margin-bottom: 72px;
	position: relative;
}
.dd{
	width: 10px;
	height: 10px;
	position: absolute;
	top: 176px;
	left: 50%;
	margin-left: -5px;
	background: #33CCCC;
	border-radius: 10px;
}
.main_inner2_bottom ul li:nth-child(6n){
	margin-right: 0;
}
.main_inner2_bottom ul li:nth-child(7),.main_inner2_bottom ul li:first-child{
	margin-left: 50px;
}
.main_inner2_bottoms{
	height: 89px;
	position: relative;
	margin-bottom: 40px;
}
.main_inner2_bottoms img{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
.main_inner2_bottoms2{
	height: 77px;
	position: relative;
	margin-top: 47px;
}
.main_inner2_bottoms2 img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.main_inner2_ts img{
	top: -5px;	
}
.main_inner2_hx{
	position: absolute;
	width: 1200px;
	height: 10px;
	top: 176px;
	left: 0px;
	background: url(../img/hx.png) no-repeat;
}


.main_inner3_inner{
	height: 426px;
	padding-top: 107px;
}
.main_inner3 img{
	margin-right: 204px;
}
.main_inner3_innerL p,
.main_inner8 p{
	margin-bottom: 16px;
	color: #888888;
}
.main_inner4_inner{
	height: 335px;
	padding-top: 94px;
}
.main_inner4_innerL h3{
	font-size: 26px;
	margin-top: 100px;
	margin-bottom: 30px;	
	color: #333333;
}
.main_inner4_innerL{
	margin-left: 76px;
}
.main_inner4_innerL p{
	color: #888888;
}
.main_inner8{
	/* height: 294px; */
	height: 393px;
	padding-top: 125px;
	background: #F6F6F6;
}
.main_inner8 h3{
	font-size: 26px;
	margin-top: 44px;
	margin-bottom: 30px;	
	color: #333333;
}
.main_inner8_innerL{
	margin-left: 50px;
}
.main_inner5_center{
	height: 151px;
	padding-top: 99px;
	text-align: center;	
	background: #F6F6F6;
}
.main_inner5_center h3{
	font-size: 26px;
	margin-bottom: 24px;
	color: #33CCCC;
}
.main_inner5_center div{
	color: #888888;
}


.main_inner6_top{
	font-size: 26px;
	padding-top: 114px;
	color: #333333;
	text-align: center;
	margin-bottom: 109px;
}
.main_inner6_bottom>div{
	width: 254px;
	margin-right: 169px;
	text-align: center;
}
.main_inner6_bottom>div:last-child{
	width: 254px;
	margin-right: 50px;
}
.main_inner6_bottom div div{
	height: 128px;	
}
.main_inner6_bottom div div img{
	height: 100%;
	margin: 0 auto;
}
.main_inner6_bottom h3{
	font-size: 22px;
	margin-top: 62px;
	margin-bottom:28px;
	color: #333333;
	font-weight: normal;
}
.main_inner6_hg{
	display: block;
	width: 40px;
	height: 4px;
	background: #33CCCC;
	margin: 0 auto;
	margin-bottom: 22px;
}
.main_inner6_bottom p{
	line-height: 24px;
}
